<!-- <button (click)='sayHello()'>Click me</button><br> -->

<!-- <input type="text" (input)="message=$event.target.value"> -->
<!-- <div>{{message}}</div> -->
<!-- <p>demo works!</p>
<p>{{name}}</p>
<p>The sum of 2 + 2 is {{2+2}}</p>
<p [innerHTML]='name2'></p>
<p [title]='user.name'>{{user.email}}</p>

<p [class.deleted]='user.isDeleted'>{{name}}</p>

<p [class]='userClasses'>{{user.name}}</p>
<p [class]='userClasses2'>{{name2}}</p>

<p [style.width]='width'>{{name}}</p>
<p [style.width2.px]='width'>{{name}}</p>
<p [style]='userStyles'>{{name}}</p> -->