<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacs</title>
</head>
<body>
    <div id="app">
        <h3>Contacs List</h3>
        <form v-on:submit.prevent="addContact">
            <input v-model="current_Name" type="text" placeholder="Name">
            <input v-model="current_Phone" type="number" placeholder="Phone">
            <button type="submit">Add contact</button>
        </form>
        <!-- <ol> -->
            <div v-for="(current_Contact_Name, index) in contacts">                
                {{current_Contact_Name}}<br>
                <button v-on:click="deleteContact(index)">Delete</button>
            </div>
        <!-- </ol>                            -->
        <script src="vue.js"></script>
        <script>
            new Vue({
                el: '#app',
                data: {
                    contacts: [],
                    current_Name: '',
                    current_Phone: ''
                },
                methods: {                    
                    addContact: function() {
                        current_Contact_Name = `Name : ${this.current_Name}`
                        current_Contact_Phone = `Phone : ${this.current_Phone}`
                        this.contacts.push(current_Contact)
                        this.current_Name = ''
                        this.current_Phone = ''
                    },
                    deleteContact: function(index) {
                        this.contacts.splice(index, 1)
                    }
                }
            })
        </script>
    </div>
</body>
</html>