<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Contacs</title>
</head>
<body>
    <main id="clock">
        <template v-if="tick">
          <analog-clock :minute="time.minutes" :tick="tick"></analog-clock>
        </template>
      </main>
      
      <script type="text/x-template" id="analog-clock">
        <figure class="analog-clock">
          <figcaption class="analog-clock__face">
            <span v-for="n in 60"
              :key="n"
              class="analog-clock__notch"
              :class="{ '-long': !(n % 5) }"
              :style="{ transform: `rotate(${n * 6}deg)` }">
            </span>
          </figcaption>
      
          <span class="analog-clock__hand -seconds" :style="seconds"></span>
          <span class="analog-clock__hand -minutes" :style="minutes"></span>
          <span class="analog-clock__hand -hours" :style="hours"></span>
        </figure>
      </script>
      
      <script type="text/x-template" id="text-clock">
        <output class="text-clock">
          <hgroup class="text-clock__col -meridiem">
            <h2>{{ meridiem }}</h2>
            <h2>m</h2>
          </hgroup>
      
          <time class="text-clock__col">
            <h3 v-for="(part, i) in output" :key="i" class="text-clock__row">{{ part }}</h3>
          </time>
        </output>
      </script>        
        <script>
                const AnalogClock = {
                template: '#analog-clock',
                props: { minute: Number, tick: Number },
                data() {
                    return {
                    rotation: { hours: 0, minutes: 0, seconds: 0 } };

                },
                computed: {
                    hours() {
                    return { transform: `translate3d(-50%, 0, 0) rotate(${this.rotation.hours}deg)` };
                    },
                    minutes() {
                    return { transform: `translate3d(-50%, 0, 0) rotate(${this.rotation.minutes}deg)` };
                    },
                    seconds() {
                    return { transform: `translate3d(-50%, 0, 0) rotate(${this.rotation.seconds}deg)` };
                    } },

                watch: {
                    tick() {
                    this.rotation.seconds += 6;
                    this.rotation.minutes += 0.1;
                    },
                    minute(to, from) {
                    if (from === to) return;
                    this.rotation.hours += 0.5;
                    } },

                mounted() {
                    let date = new Date();
                    let [h, m, s] = [date.getHours(), date.getMinutes(), date.getSeconds()];
                    this.rotation = {
                    hours: h * 30 + m * 0.5,
                    minutes: m * 6 + s * 0.1,
                    seconds: s * 6 };

                } };

                new Vue({
                el: '#clock',
                components: { AnalogClock },
                data() {
                    return {
                    tick: 0,
                    time: { hours: 0, minutes: 0, seconds: 0 } };

                },
                methods: {
                    updateTime(time) {
                    this.tick++;
                    this.time = {
                        hours: time.getHours(),
                        minutes: time.getMinutes(),
                        seconds: time.getSeconds() };


                    setTimeout(() => this.updateTime(new Date()), 1000 - new Date().getMilliseconds());
                    } },

                mounted() {
                    this.updateTime(new Date());
                } });
        </script>
    </main>
</body>
</html>