<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js"></script>
    <title>Contacs</title>
</head>
<body>
    <div id="app" v-cloak>
        <div v-if="ready">
        <input v-model="name" type="text" placeholder="Name">
        <input v-model="phone" type="number" placeholder="Phone">
          <button @click="addContact" :disabled="addDisabled">Add Contact</button>
          <p/>
          <ul>
            <li v-for="contact in contacts">
              {{contact.name}} | {{contact.phone}} | <button @click="deleteContact(contact.id)">Delete</button>
            </li>
          </ul>
        </div>               
        <script>
            Vue.config.productionTip = false;
            Vue.config.devtools = false;

            const DB_NAME = 'contactdb';
            const DB_VERSION = 1;

            const app = new Vue({
            el:'#app',
            data: {
                db:null,
                ready:false,
                addDisabled:false,
                contacts:[]
            },
            async created() {
                this.db = await this.getDb();
                this.contacts = await this.getcontactsFromDb();
                this.ready = true;
            },
            methods: {
                async addContact() {
                this.addDisabled = true;
                // random contact for now
                let contact = {
                    name: this.name,
                    phone: this.phone
                };
                
                await this.addContactToDb(contact);
                this.contacts = await this.getcontactsFromDb();
                this.addDisabled = false;      
                },
                async deleteContact(id) {
                await this.deleteContactFromDb(id);
                this.contacts = await this.getcontactsFromDb();      
                },
                async addContactToDb(contact) {
                return new Promise((resolve, reject) => {

                    let trans = this.db.transaction(['contacts'],'readwrite');
                    trans.oncomplete = e => {
                    resolve();
                    };

                    let store = trans.objectStore('contacts');
                    store.add(contact);

                });
                },
                async deleteContactFromDb(id) {
                return new Promise((resolve, reject) => {
                    let trans = this.db.transaction(['contacts'],'readwrite');
                    trans.oncomplete = e => {
                    resolve();
                    };

                    let store = trans.objectStore('contacts');
                    store.delete(id);
                });
                },
                async getcontactsFromDb() {
                return new Promise((resolve, reject) => {

                    let trans = this.db.transaction(['contacts'],'readonly');
                    trans.oncomplete = e => {
                    resolve(contacts);
                    };
                    
                    let store = trans.objectStore('contacts');
                    let contacts = [];
                    
                    store.openCursor().onsuccess = e => {
                    let cursor = e.target.result;
                    if (cursor) {
                        contacts.push(cursor.value)
                        cursor.continue();
                    }
                    };

                });
                },
                async getDb() {
                return new Promise((resolve, reject) => {

                    let request = window.indexedDB.open(DB_NAME, DB_VERSION);
                    
                    request.onerror = e => {
                    
                    reject('Error');
                    };
            
                    request.onsuccess = e => {
                    resolve(e.target.result);
                    };
                    
                    request.onupgradeneeded = e => {
                    
                    let db = e.target.result;
                    let objectStore = db.createObjectStore("contacts", { autoIncrement: true, keyPath:'id' });
                    };
                });
                }
            }
            })
        </script>
    </div>
</body>
</html>